/*-------font--------*/

@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot');
	src: url('font/icomoon.eot?#iefix') format('embedded-opentype'),
	url('font/icomoon.woff') format('woff'),
	url('font/icomoon.ttf') format('truetype'),
	url('font/icomoon.svg') format('svg');
}

@font-face {
	font-family: 'roboto-thin';
	src: url('fonts/roboto-thin.eot');
	src: url('font/roboto-thin.eot?#iefix') format('embedded-opentype'),
	url('font/roboto-thin.woff2') format('woff2'),
	url('font/roboto-thin.woff') format('woff'),
	url('font/roboto-thin.ttf') format('truetype'),
	url('font/roboto-thin.svg') format('svg');
}

h1 {
	font-size: 57px !important;
}

h2 {
	color: #000 !important;
	font-size: 34px !important;

}

/*url('font/icomoon.woff2') format('woff2'),*/
.icon-facebook2:before {
	content: "\e601";
}

.icon-twitter2:before {
	content: "\e602";
}

.icon-instagram:before {
	content: "\e600";
}

.icon {
	font-family: icomoon;
}
.icon-search:before {
    content: "\e603";
}

/*-------font--------*/

body {
	margin: 0;
	padding: 0;
}

#contslider {
	/*height: 300px;*/
	height: 100%;
	/*margin-bottom: 300px;*/
	overflow: hidden;
	position: absolute;
	z-index: 1;
	width: 100%;
	top: 0;
}

/*#contslider img{width: 100%;}*/
#ttllogo1 {
}

#ttllogo2 {
	background-position: -206px 1px;
}

#ttllogo3 {
	background-position: -440px 1px;
}

#ttllogo4 {
	background-position: -654px 1px;
}

#ttllogo5 {
	background-position: -881px 1px;
}

#ttllogo6 {
	background-position: -1105px 1px;
}

#contslider ul {
	margin-top: 0;
	padding: 0;
}

#contvideo {
	overflow: hidden;
	text-align: center;
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
}
#video{
	width: 100%;
	height: auto;
	margin-top: -150px;
}
#velo{
	position: absolute;
	color: #ccc;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	z-index: 70;
	opacity: 0.5;
}

.videostory video {
	width: 100%;

}
#imgbig img{width: 100%;}
#imgbig{
	width: 800px;
	position: absolute;
	z-index: 70;
	left: 50%;
	top: 50px;
	margin-left: -400px;
	border: 5px solid #F5F5F5;
    border-radius: 5px;
}
#contbigimg{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
.contalbun .bx-viewport{
	height: 100% !important;
}
.lupas{
	position: absolute;
    bottom: 5px;
    font-size: 40px;
    color: #9a9a9a;
    right: 15px;
    cursor: pointer;
}
.videostory {
	width: 100% !important;
}

#bx-pager {
	font-family: Arial, sans-serif;
	font-size: 15px;
	display: table;
	vertical-align: middle;
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #fff;
	z-index: 1;
}

#bx-pager > div {

	width: 14.2%;
	text-align: center;

	display: table-cell;
	vertical-align: inherit;
}

#bx-pager a {
	color: #000;
	text-decoration: none;
	font-family: 'roboto-thin';
	font-size: 20px;
}

#bx-pager a:hover, #bx-pager a.active {
	border-bottom: 1px solid #666;
}

.social img {
	margin-top: -6px;
}

.social {
	padding-left: 7px;
}

#yarns {
	overflow: auto;
	background: #fff;
}

/*--- Botones ----*/
#aapu {
	background-position: 0;
	background-size: auto 63px;
}

#amayu {
	background-position: -144px;
	background-size: auto 90px;
}

#apuyu {
	background-position: -198px;
	background-size: auto 69px;
}

#apuna {
	background-position: -272px;
	background-size: auto 65px;
}

#awarmi {
	background-position: -639px;
	background-size: auto 110px;
}

#aayni {
	background-position: -793px  -25px;
	background-size: auto 110px;
}

/*---*/

#aapu2 {
	background-position: 0;
	background-size: auto 63px;
}

#amayu2 {
	background-position: -144px;
	background-size: auto 90px;
}

#apuyu2 {
	background-position: -198px;
	background-size: auto 69px;
}

#apuna2 {
	background-position: -272px;
	background-size: auto 65px;
}

#awarmi2 {
	background-position: -639px;
	background-size: auto 110px;
}

#aayni2 {
	background-position: -793px  -25px;
	background-size: auto 110px;
}

#yarnsindex div a {
	float: left;
	width: 90px;
	height: 90px;
	cursor: pointer;
	border: 8px solid #E5E5E5;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}
#yarnsindex div{
	display: inline-block;
	width: 16.666%;
}
#yarnsindex {
	padding: 10px 0;
	width: 780px;
	overflow: auto;
	margin: 0 auto;
}

#yarnsindex div a:hover, #yarnsindex div a.active {
	border: 8px solid #CECECE;
}

.patters {
	background: #FFF;
	padding-bottom: 3%;
}
/*.patters .bx-viewport{height: 385px !important;} lx*/
#pattersindex {
	padding: 10px 0;
	width: 780px;
	overflow: auto;
	margin: 0 auto;
}
#pattersindex div{
	display: inline-block;
	width: 16.666%;
}
#pattersindex div a {
	float: left;
	width: 90px;
	height: 90px;
	cursor: pointer;
	transition: all .3s;
	border: 8px solid #E5E5E5;
}
#pattersindex div a:hover, #pattersindex div a.active {
	border: 8px solid #CECECE;
}

.indexgalery {
	background: #E5E5E5;
	position: fixed;
	bottom: 40px;
	left: 0;
	right: 0;
	z-index: 999;
}

.indexgalery a:first-child {
	margin-left: 0;
}

.indexgalery a {
	background: url(../img/logosyarns.png) no-repeat;
	border-radius: 50%;
	background-color: #ffffff;
	margin-left: 45px;
}

.sliderpatterns > div {
	width: 676px !important;
	left: 50%;
	margin-left: -338px;
}

.sliderpatterns h1 {
	font-size: 2.5em !important;
	margin: 0;
	font-weight: 300;
}

.contcolorslider img {
	height: 100%;
}

.contcolorslider {
	overflow: hidden;
	height: 165px;
	margin-bottom: 15px;
}

#yarnsslider > div {
	width: 700px !important;
	padding-top: 20px;
	margin: 0 auto;
	left: 50%;
	margin-left: -350px;
}

#yarnsslider h2 {
	text-align: center;
	font-size: 20px !important;
}

.indexcolors div a {
	padding-left: 20px;
    padding-top: 6px;
	/*width: 20px;
	height: 20px;
	float: left;*/
	margin-left: 14px;
	border-radius: 50%;
}
.indexcolors div a.active{
	border: 6px solid;
    margin-left: 8px;
    margin-right: -6px;
}

#colorslider0 > div,
#colorslider1 > div,
#colorslider2 > div,
#colorslider3 > div,
#colorslider4 > div,
#colorslider5 > div,
{
	position: static !important;
	width: 100% !important;
}

#colorslider0 {
	position: static !important;
}

.colorslider > div {
	height: 160px !important;
	width: 100% !important;
	text-align: center;
}

.colorslider div div {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-family: 'Arial', sans-serif;
	color: #A5A3A3;
}

.subttlcolors {
	color: #7d7d7d;
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-align: center;
}

#patterns {
	overflow: hidden;
}
.loading img{
	width: 100%;
}
.loading div{
	width: 60px;
	position: absolute;left: 50%;top: 50%;
	margin-left: -30px;
	margin-top: -32px;
}
.loading{
	text-align: center;
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.conttxtcolors {
	width: 630px;
	color: #4A4A4A;
	text-align: center;
	margin: 15px auto 0 auto;
	padding-bottom: 3%; /*lx*/
}
.contmensaje{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}

#closemen,#closebig{
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
	color:  #ccc;
	font-weight: bold;
	text-decoration: none !important;
}
.mensaje{
	position: absolute;
	text-align: center;
	padding: 40px;
	border:1px solid #ccc;
	background: #fff;
	z-index: 70;
    font-size: 20px;
    width: 310px;
    left: 50%;
    top:50%;
    margin-top: -69px;
    margin-left: -155px;
    font-family: roboto-thin;
}
.indexpatterns {
	text-align: center;
	margin-top: 30px;
	margin-bottom:10px;
}

.indexpatterns div {
	width: 19%;
	display: inline-block;

}

.indexpatterns a img {
	width: 100%;

}

.indexpatterns a {
	width: 77px;
	height: 77px;
	display: block;
	margin: 0 auto;
	-moz-transition: all .4s;
	opacity: .3;
	transition: all .4s;
	-webkit-transition: all .4s ease-out;
	background: #FFF;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
}
.indexpatterns a:hover, .indexpatterns a.active{
	opacity: 1;
	transform: scale(1.12);
}

.indexalbun {
	margin-top: 15px;
}

.indexalbun img {
	width: 50px;
	/*float: right;*/
	margin-left: 10px;
}

.box_buy {
	display: table-cell;
	background: #CECECE;
	width: 90px;
	height: 90px;
	text-align: center;
	vertical-align: middle !important;
	font-size: 14px;
	margin-left: 10px;
	transition: all .2s;
	color:#555;
}
.text-link-buy{
	color: #6D6C6C;
}
.text-link-buy:hover, .text-link-buy:active {
	text-decoration: none;
	color: #7D7C7C;
}
.box_buy a{
	display: block !important;
	text-align: center;
	vertical-align: middle !important;
	font-size: 14px;
	transition: all .2s;
	color:#555;
}
.box_buy:hover {
	text-decoration: none;
	background: #EFEFEF;
}


.pattern_buy div:first-child {
	padding-right: 10px;
}

.pattern_buy div {
	display: table-cell;
	vertical-align: inherit;
}

.pattern_buy {

	display: table;
	vertical-align: bottom;
	width: 100%;
	height: 90px;
}
#acomodin{position: absolute;z-index: 10;}
#contsocial a {
	font-size: 16px !important;
}

#contsocial {
	border-left: 1px solid;
	margin-left: 15px;
	padding-left: 10px;
}

.contmaterial {
	margin-left: auto;
	height: 150px;
	display: table;
}
.contmaterial div {
	display: table-cell;
	vertical-align: bottom;
}

#textoimg img {
	width: 100%;
}

#textoimg {
	width: 900px;
	margin: 50px auto 0 auto;
	opacity: 0;
}



.albun {
	height: 308px;
}

.albun img {
	width: 100%;
}

.albun > div {
	width: 100% !important;
}

.contalbun {
	width: 676px;
	margin: 0 auto;
	color: #585757;
}

.patternlevel {
	font-size: 13px;
	text-align: center;
	color: #6D6C6C;
	padding: 5px 0 10px 0;
}

.patternlevel img {
	margin-top: -2px;
	margin-left: 5px;
}

.patternlevel span {
	border-left: 1px solid #ccc;
	padding-left: 25px;
	margin-left: 10px;
}

.ttllogo {
	width: 224px;
	height: 162px;
	background: url(../img/logosyarns.png) no-repeat;
	margin: -30px auto -30px auto;
	transform: scale(.6);
	-webkit-transform: scale(.6);
	-moz-transform: scale(.6);
	background-size: auto 162px;

}

#patternsslider > div {
	width: 100% !important;
	/*height: 100% !important;*/
	overflow: auto;
}

#patternsslider {
	position: static !important;
}

#texto {
	color: #ffffff;
	text-align: center;
	font-size: 17px;
	margin-top: 120px;
	opacity: 0;
}
.cristal{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}
#logo1 {
	position: absolute;
	width: 140px;
	top: 50%;
	left: 50%;

	margin-top: -85px;
	margin-left: -70px;
	z-index: 1px;
}

#logo2 img {
	width: 140px;
}

#logo2 {
	margin-top: 60px;
	text-align: center;
}

#logo1 img {
	width: 100%;
}

#bxslider {
	height: 100% !important;
	overflow: auto !important;
}

#bxslider > div {
	height: 100% !important;
	padding-bottom: 150px !important;
}

#contcontact {
	background: url('../img/chola.png') no-repeat;
	background-position: 100% 100%;
	background-size: 434px;
	background-color: #fafafa;
}

#logocontat img {
	width: 110px;
}

#contacontact {
	width: 20.4% !important;
}

#logocontat {
	text-align: center;
	padding: 25px 0;

	background: #ffffff;
}

#formcontact {
	width: 340px;
	margin: 0 auto;
}

#contcontact button {
	background: #2f2f2f !important;
	color: #fff;
	font-size: 19px;
	margin-top: 15px;
	height: 50px;
}

#contcontact input[type='text'], #contcontact input[type='email'] {
	height: 35px;
}

#contcontact label {
	font-size: 16px;
	color: #737373;
	margin-bottom: 0;
}

.ttlcontact {
	padding: 10px 0 0 0;
	font-size: 35px;
	text-align: center;
	font-family: 'roboto-thin';
}

.indexcolors {
	display: table;
	margin: 0 auto;
	text-align: center;
}

.indexcolors div {
	display: table-cell;
}

/*#yarnsslider {
	position: absolute;
	height: 100%;
	width: 100%;
}*/

.bx-viewport {
	height: 700px !important;
	overflow: auto !important;
}

#formcontact .form-group {
	margin-bottom: 8px;
}
#alogo{
	border-bottom: none !important;
}
.redalert{
	color: #ff0000;
}
.bx-controls{
	position: absolute;
    z-index: 150;
    top: 50%;
    width: 780px;
    left: 50%;
    margin-left: -390px;
}
.bx-controls a{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	margin-top: -15px;
	z-index: 100;
	background-size: auto 30px;
}
.bx-prev{left: 0;background: url(../img/flechas.png) no-repeat; }
.bx-next{right: 0;background: url(../img/flechas.png) no-repeat; background-position:  -30px 0;}




/*====== lx =======*/
/*------------------------------------------------------ Header */
.header-menu{
	position: fixed;
	width: 100%;
	z-index: 1000;
	cursor: initial;
	display: none;
}
.btn-menu{
	/*margin: 25px;*/
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: #CCC;
    padding: 5px;
    position: absolute;
    width: 50px;
    right: 0px
}
#logomenu{
	padding-bottom:15px;
}
#logomenu img{
	height: 50px;
}
.header-menu>button:hover{background-color: transparent;border: none; box-shadow: none; color:#DDD; }

.body-menu{
	background-color: #FFF;
	padding: 20px 0 100% 0;
	text-align: center;
}
.body-menu>div>a{
	border-bottom: 1px solid #DDD;
	margin: 5px;
	font-size: 2em;
	font-family: 'roboto-thin';
	color: #555;
}
.body-menu>div{
	margin: 10px;
}

.showcar{
	padding-right: 2%;
}

@media (max-width: 2600px) {
    .bx-controls {
        top: 20%;
    }
}

@media (max-width: 2500px) {
    .bx-controls {
        top: 38%;
    }
}

@media (max-width: 1400px) {
    .bx-controls {
        top: 36%;
    }
}
@media (max-width: 1200px){
	#bx-pager{
		display: table;
	}
	.header-menu{
		display:none;
	}
	#yarnsslider > div {
		width: 100% !important;
		padding-top: 20px;
		margin: 0 auto;
		left: 0px;
		margin-left: 0px;
	}
	.bx-viewport {
		height: 685px !important;
		overflow: auto !important;
	}

    .bx-controls {
        top: 43%;
    }
}


@media (max-width: 1100px) {
    .bx-controls {
        top: 50%;
    }
}


@media (max-width: 768px) {

    video {
        height: 100%;
        width: auto;
    }

    .videostory video {
        height: 100%;
        width: auto;
    }

    #bx-pager {
        display: none;
    }

    .header-menu {
        display: block;

    }

    .social img {
        margin-top: -10px;
    }

    #contsocial {
        border-left: 0px;
    }

    #contsocial a {
        font-size: 20px !important;
        margin: 5px;
    }

    #yarnsslider > div {
        width: 100% !important;
        padding-top: 20px;
        margin: 0 auto;
        left: 0px;
        margin-left: 0px;
    }

    #yarnsslider h2 {
        text-align: center;
        font-size: 1em !important;
    }

    .ttllogo {
        width: 135px;
        height: 115px;
        background-size: auto 100px;
    }

    /*#ttllogo1 {}*/
    #ttllogo2 {
        background-position: -140px 1px;
    }

    #ttllogo3 {
        background-position: -278px 1px;
    }

    #ttllogo4 {
        background-position: -415px 1px;
    }

    #ttllogo5 {
        background-position: -545px 1px;
    }

    #ttllogo6 {
        background-position: -685px 1px;
    }

    .subttlcolors {
        font-size: 0.8em;
    }

    .conttxtcolors {
        font-size: 1em;
        width: 100%;
        padding: 5px;
    }

    .nanonano {
        font-size: 2em;
    }

    .colorslider > div {
        height: 80px !important;
        width: 100% !important;
        text-align: center;
        overflow: hidden;
    }

    .colorslider div div {
        font-size: 0.8em;
        position: relative;
    }

    .contcolorslider {
        overflow: hidden;
        height: 80px;
        margin-bottom: 5px;
    }

    /*Buttons*/
    #yarnsindex {
        padding: 1% 1% 1% 10%;
        width: auto;
    }

    #yarnsindex div {
        display: inline-block;
        width: 33.333%;
        text-align: center;
        vertical-align: center;
    }

    .indexgalery {
        bottom: 0px;
    }

    #yarnsindex div a {
        width: 60px;
        height: 60px;
        border: 4px solid #E5E5E5;
    }

    #yarnsindex div a:hover, #yarnsindex div a.active {
        border: 4px solid #CECECE;
    }

    #pattersindex {
        padding: 1% 1% 1% 10%;
        width: auto;
    }

    #pattersindex div {
        display: inline-block;
        width: 33.333%;
    }

    #pattersindex div a {
        width: 60px;
        height: 60px;
        border: 4px solid #E5E5E5;
    }

    #pattersindex div a:hover, #pattersindex div a.active {
        border: 4px solid #CECECE;
    }

    /*---  ----*/
    #aapu, #aapu2 {
        background-position: 0;
        background-size: auto 45px;
    }

    #amayu, #amayu2 {
        background-position: -140px -10px;
        background-size: auto 82px;
    }

    #apuyu, #apuyu2 {
        background-position: -145px center;
        background-size: auto 50px;
    }

    #apuna, #apuna2 {
        background-position: -187px center;
        background-size: auto 45px;
    }

    #awarmi, #awarmi2 {
        background-position: -280px center;
        background-size: auto 50px;
    }

    #aayni, #aayni2 {
        background-position: -350px;
        background-size: auto 50px;
    }

    /*--our-patterns--*/
    .sliderpatterns > div {
        width: 100% !important;
        left: 0;
        margin: 0 auto !important;
    }

    .pattern-collection {
        font-size: 0.7em;
    }

    .contmaterial {
        font-size: 0.7em;
        height: auto;
    }

    .colum-xs {
        width: 48%;
        float: left;
        margin: 1px !important;
        padding: 2px !important;
    }

    .contalbun {
        width: 100%;
    }

    .indexalbun img {
        width: 50px;
    }

    .pattern_buy {
        height: 60px;
    }

    .box_buy a {
        font-size: 1em;
    }

    .box_buy {
        font-size: 1em;
        height: 60px;
    }

    .patternlevel {
        font-size: 0.7em;
    }

    .lupas {
        font-size: 2em;
    }

    .sliderpatterns h1 {
        font-size: 1.5em !important;
        padding: 10px 0px;
    }

    .indexpatterns {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .indexpatterns div {
        width: 15%;
    }

    .indexpatterns a {
        width: 40px;
        height: 40px;
        display: block;
        margin: 0 auto;
        -moz-transition: all .4s;
        opacity: .3;
        transition: all .4s;
        -webkit-transition: all .4s ease-out;
        background: #FFF;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
    }

    /*story*/
    #textoimg {
        width: 100%;
    }

    /* contact us*/
    #formcontact {
        width: 80%;
    }

    /*image ouryarns*/
    .contcolorslider img {
        height: 70%;
        /* margin: 0 auto; */
    }

    #imgbig {
        width: 100%;
        left: 0;
        top: 35;
        margin-left: 0;
    }

    /*colors circle*/
    .indexcolors {
        padding: 5px 0px;
    }

    .indexcolors div a {
        padding: 3px 10px;
        margin-left: 4px;
    }

    .indexcolors div a.active {
        border: 4px solid;
        margin-left: 4px;
        margin-right: -2px;
    }

    .bx-wrapper {
    }

    .bx-viewport {
        height: 335px !important;
        padding: 5px 0px;
    }
}
/*edson*/
@media (max-width: 480px){
	video {
		height: 100%;
		width: auto;
	}
	#bx-pager{
		display: none;
	}
	.header-menu{
		display:block;
	}

	#yarnsslider > div {
		width: 100% !important;
		padding-top: 20px;
		margin: 0 auto;
		left: 0px;
		margin-left: 0px;
	}
}

